<!DOCTYPE html>

meta(charset="UTF-8")
title Document
body
  section
    header.dark
      h1 hogehoge
  section
    .grid-box
      .blue
        p helloworld

      .dark
        p helloworld

    .grid-box
      .blue
        p helloworld

      .gray
        p helloworld

    .grid-box
      .blue
        p helloworld

      .gray
        p helloworld

  section
    article
      .content-title
        h3 hogehoge
      .content
        p hogehogehoge
        p hogehogehogehoge
        pre
          | int main void(){
          |  var = {aiueo,unko}
          | }
        p hogehoge
        .table
          .head A 
          .val bcdefg
          .head B 
          .val cdefg
          .head C 
          .val defg
        p hogehogehogehogehogehoeg
        .list 
          .item hogehoge
          .item hogehoge
          .item hogehoge
          .tri hogehoge
          .star hogehoge
          .star hogehoge
        p hogehogehogehogehogehogoehgokbjhsndfiuykvgsdhfjnlsd
        p hhgykjhljoguykvjbhl;hgykfvjgkvhbjknkghvjbilkhvmjbhlgkvjbhligkvhjblalsudhfadhs;nf;abjnsj;ogehogehoge
        p hogehogehoge
        p hogehogehoge

        .listAndContents
          .list 
            .item hogehoge
            .item hogehoge
            .item hogehoge
            .tri hogehoge
            .star hogehoge
            .star hogehoge
          .contentsBox
            .box うんち
            .box うんち
            .box うんち
            .box うんち
            .box うんち
            .box うんち
            .box うんち
            .box うんち
            .box うんち
            .box うんち
            .box うんち
        p うんちぶりぶり

  section
    footer.dark
      small 2018 hogehoge

  script(src="app.js")